version: "3.7"

networks:
  redis-network:
    name: redis-network
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.0.0.0/16

services:
  redis-proxy:
    container_name: redis-proxy
    build:
      context: .
    ports: 
      - "7777:7777"
    networks:
      - redis-network
    command: 'redis-cluster-proxy 10.0.0.11:6379 10.0.0.12:6379 10.0.0.13:6379 10.0.0.14:6379 10.0.0.15:6379 10.0.0.16:6379'
    depends_on:
      - redis-cluster

  redis-cluster:
    image: redis:6-alpine
    command: 'redis-cli --cluster create 
    10.0.0.11:6379 10.0.0.12:6379 10.0.0.13:6379 
    10.0.0.14:6379 10.0.0.15:6379 10.0.0.16:6379 
    --cluster-yes --cluster-replicas 1'
    networks:
      - redis-network
    depends_on:
      - redis1
      - redis2
      - redis3
      - redis4
      - redis5
      - redis6

  redis1:
    image: redis:6-alpine
    container_name: redis1
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      redis-network:
        ipv4_address: 10.0.0.11
    expose:
      - 6379
    volumes:
      - $PWD/docker-data/redis1:/data
      - $PWD/docker-config/redis.conf:/usr/local/etc/redis/redis.conf

  redis2:
    image: redis:6-alpine
    container_name: redis2
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      redis-network:
        ipv4_address: 10.0.0.12
    expose:
      - 6379
    volumes:
      - $PWD/docker-data/redis2:/data
      - $PWD/docker-config/redis.conf:/usr/local/etc/redis/redis.conf

  redis3:
    image: redis:6-alpine
    container_name: redis3
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      redis-network:
        ipv4_address: 10.0.0.13
    expose:
      - 6379
    volumes:
      - $PWD/docker-data/redis3:/data
      - $PWD/docker-config/redis.conf:/usr/local/etc/redis/redis.conf

  redis4:
    image: redis:6-alpine
    container_name: redis4
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      redis-network:
        ipv4_address: 10.0.0.14
    expose:
      - 6379
    volumes:
      - $PWD/docker-data/redis4:/data
      - $PWD/docker-config/redis.conf:/usr/local/etc/redis/redis.conf

  redis5:
    image: redis:6-alpine
    container_name: redis5
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      redis-network:
        ipv4_address: 10.0.0.15
    expose:
      - 6379
    volumes:
      - $PWD/docker-data/redis5:/data
      - $PWD/docker-config/redis.conf:/usr/local/etc/redis/redis.conf

  redis6:
    image: redis:6-alpine
    container_name: redis6
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      redis-network:
        ipv4_address: 10.0.0.16
    expose:
      - 6379
    volumes:
      - $PWD/docker-data/redis6:/data
      - $PWD/docker-config/redis.conf:/usr/local/etc/redis/redis.conf